	body {
	  font-family: Tahoma ,Helvetica,Arial,sans-serif; 
	}
	
	header { 
	  background: transparent;
	  height: 50px;
	  padding-bottom: 30px;
	}
	
	.nbar { 
	  max-width: 100%;
	  padding: 0px 30px;
	  position: relative;
	}
    
	.nbar li{
    font-size: 20px;
}

.two:hover ~ hr{
      margin-left: 25%;
}

.three:hover ~ hr {
  margin-left: 50%;
}

.four:hover ~ hr {
  margin-left: 75%;
}
.five:hover ~ hr {
  margin-left: 75%;
}

hr {
  height: .25rem;
  width: 20%;
  margin: 0;
  background: #43352c;
  border: none;
  transition: .5s ease-in-out;
}
	.name {  /*the name of company on the left side*/
	  text-decoration: none;
	  color: #43352c;
	  font-size: 30px;
	  line-height: 65px;
	}
	
	nav > ul { /*all of the ul elements that are children of the nav*/
  	  float: right;
	  list-style-type: none;
	}
	
	nav > ul > li {
	  margin-left: 70px; /*creates spacing between the li(s) in the nav*/
	  line-height: 40px; /*creates spacing between the li(s) boxed nav as well*/ 
	}
	
	nav ul li:hover > a {
	  color: #353535; /*hover color*/
	}
	
	nav > ul > li > a { 
	  display: block;
  	  width: 100%;
	  text-decoration: none;
	}
	
	nav > ul > li {
  	  float: left; /*all of the li will be in order unlike whatever we did last year*/
	}
	
	nav a {
	  color: #ea3b33; /*color of of the pages in nav*/ 
	}
	
	[type="checkbox"], label { 
	  display: none;
	}
	
	@media screen and (max-width: 1000px) { /*when screen gets smalled than 786px*/
		nav ul {
		  display: none; /*element will not be displayed at all*/ 
	}

	label {
	  display: block;
	  background: #353535;
	  width: 40px;
	  height: 40px;
	  position: absolute;
	  right: 30px; /*right edge of the absolute positioned label element will have 30px to left of the right edge*/ 
	  top: 20px; /*top edge of the absolute positioned label element will have 20px below of the top edge*/ 
	}
	
	label:after{
	  display: block;
	  width: 30px;
	  height: 5px;
	  /*idk how to get the 3 lines but it would be here*/ 
	}

	[type="checkbox"]:checked ~ ul {
	  display: block;
	  z-index: 1000; /*stack order of the element; will place it in front of the other elements*/ 
	  position: absolute;
	  right: 50px; /*will affect the size of the box*/ 
	  left: 50px; /*will affect the size of the box*/ 
	}

	nav a {
	  color: #ea3b33; /*color of the pages in the nav in the box*/ 
	}

	nav ul li {
	  text-indent: 15px; 
	  display: block;
	  width: 100%;
	  text-align: left;
	  background: #d9d9d9; /*color of box*/ 
	}

	nav > ul > li {
	  margin-left: 17px; /*position of the box from left margin*/ 
	}
	}
	
	/*page 1*/
	#page1{ 
	background: url("header.jpg") no-repeat 50% 50%;
	padding: 300px 0px; 
	}

	
	/*page 2*/
	#page2{ 
		background-color: #493548;
		padding: 200px 0px; 
	}
	
	#page2 > a > img{ 
	display: block;
    margin: auto;
	}
	
	h1{ 
	text-align: center; 
	color: #ff3b3f;
	font-family: Tahoma ,Helvetica,Arial,sans-serif;
	}
	
	h3{ 
	text-align: center; 
	color: #a9a9a9;
	font-family: Tahoma ,Helvetica,Arial,sans-serif;
	}
		 
        
    /*page 3: Photo Gallery CSS*/
	

	#page3{
        height: 500px;
    padding: 100px 0px;
    background-color: #d9d9d9;
        color: #777;
	margin: 0 auto;
	position: relative;
	width: auto;
	}
	
	
	.slides{
		display: none;
		border: 5px solid grey;
	}

.slideShow img{
    margin: 15px auto;

    }


.slideShow{
    
}
	
	/* form for book us*/ 
	
	#page4{
      
		background-color: #493548; 
		padding: 150px 0; 
        
    }

#allPanelInfo{
   
}

	#page42{
	width:740px;
	height:700px;
	background:#d9d9d9;
	border-radius:20px;
	box-shadow:0 0 20px #000;
	margin:calc(200px - 100px) auto;
	padding:20px 30px;
	font-family: Tahoma ,Helvetica,Arial,sans-serif;
	position:relative;
	}
	
	#page42 > h2{ 
	color: #493548;
	}
	
	input{
	width:100%;
	padding:10px;
	box-sizing:border-box;
	background: none; 
	outline:none;
	resize:none;
	border:0;
	font-family: Tahoma ,Helvetica,Arial,sans-serif;
	transition:all .3s;
	border-bottom:2px solid #bebed2;
	}
	
	select { 
	width:100%;
	padding:10px;
	box-sizing:border-box;
	background: none; 
	outline:none;
	resize:none;
	border:0;
	font-family: Tahoma ,Helvetica,Arial,sans-serif;
	transition:all .3s;
	border-bottom:2px solid #bebed2;
	} 
	
	
	input:focus{
	border-bottom:2px solid #43352c;
	}
	
	input::-webkit-input-placeholder {
		color: black !important;
	}
	
	p:before{
	content:attr(type);
	display:block;
	margin:28px 0 0;
	font-size:14px;
	color: #493548;
	font-weight: bold; 
	}
	
	button{
	float: left;
	font-family: Tahoma ,Helvetica,Arial,sans-serif;
	cursor:pointer;
	transition:all .3s;
	}
	
	.form > form:hover{
	background:#493548;
	}
	
	/* contact us form */ 
	#page5 {
		background-color: #d9d9d9; 
		padding: 150px 0; 
        float: clear;
	}

	#page52{
	width:740px;
	height:600px;
	background:#493548;
	border-radius:20px;
	box-shadow:0 0 20px #000;
	margin:calc(200px - 100px) auto;
	padding:20px 30px;
	font-family: Tahoma ,Helvetica,Arial,sans-serif;
	position:relative;
	}
	
	#page52 > h2{ 
	color: #d9d9d9;
	}
	
	input{
	width:100%;
	padding:10px;
	box-sizing:border-box;
	background: none; 
	outline:none;
	resize:none;
	border:0;
	font-family: Tahoma ,Helvetica,Arial,sans-serif;
	transition:all .3s;
	border-bottom:2px solid #bebed2;
	}
	
	input:focus{
	border-bottom:2px solid #ea3b33;
	}

	h6:before{
	content:attr(type);
	display:block;
	margin:28px 0 0;
	font-size:14px;
	color: #d9d9d9;
	font-weight: bold; 
	}
	
	button{
	float: left;
	font-family: Tahoma ,Helvetica,Arial,sans-serif;
	cursor:pointer;
	transition:all .3s;
	}
	
	form:hover{
	background:#d9d9d9;
	}
	
	#page5 > a > img{ 
	display: block;
    margin: auto;
	}
	

/*Book Us Services*/    

.four-box-panel{
    width: 25%;
    height 25%;
    margin: 25px;
    border-radius: 2%;
    border: #dcdcdc 3px solid;
}      
     
.four-box-panel div{
    height: 25%;
    overflow: hidden;
}

.four-box-panel:hover div{
    height: 25px;
}
   
.four-box-panel:hover div:hover{
    height: 340px;
    overflow: hidden;
}
  
.panel1{
background-color: red;
}

.panel2{
background-color: blue;
}
    
.panel3{
background-color: yellow;
}

.panel4{
background-color: red;
}
        
     
