body {
	  font-family: Tahoma ,Helvetica,Arial,sans-serif; 
	}
	
	header { 
	  background: transparent;
	  height: 50px;
	  padding-bottom: 30px;
	}
	
	.nbar { 
	  max-width: 100%;
	  padding: 0px 30px;
	  position: relative;
	}
.nbar li{
    font-size: 20px;
}
	.name {  /*the name of company on the left side*/
	  text-decoration: none;
	  color: #43352c;
	  font-size: 30px;
	  line-height: 65px;
	}
	
	nav > ul { /*all of the ul elements that are children of the nav*/
  	  float: right;
	  list-style-type: none;
	}
	
	nav > ul > li {
	  margin-left: 70px; /*creates spacing between the li(s) in the nav*/
	  line-height: 40px; /*creates spacing between the li(s) boxed nav as well*/ 
	}
	
	nav ul li:hover > a {
	  color: black; /*hover color*/
	}
	
	nav > ul > li > a { 
	  display: block;
  	  width: 100%;
	  text-decoration: none;
	}
	
	nav > ul > li {
  	  float: left; /*all of the li will be in order unlike whatever we did last year*/
	}
	
	nav a {
	  color: #ea3b33; /*color of of the pages in nav*/ 
	}
	
	[type="checkbox"], label { 
	  display: none;
	}
	
	@media screen and (max-width: 1000px) { /*when screen gets smalled than 786px*/
		nav ul {
		  display: none; /*element will not be displayed at all*/ 
	}

	label { 
	  display: block;
	  background: blue;
	  width: 40px;
	  height: 40px;
	  position: absolute;
	  right: 30px; /*right edge of the absolute positioned label element will have 30px to left of the right edge*/ 
	  top: 0px; /*top edge of the absolute positioned label element will have 0px below of the top edge*/ 
	}
	
	label:after{
	  display: block;
	  width: 30px;
	  height: 5px;
	  /*idk how to get the 3 lines but it would be here*/ 
	}

	[type="checkbox"]:checked ~ ul {
	  display: block;
	  z-index: 1000; /*stack order of the element; will place it in front of the other elements*/ 
	  position: absolute;
	  right: 50px; /*will affect the size of the box*/ 
	  left: 50px; /*will affect the size of the box*/ 
	}

	nav a {
	  color: white; /*color of the pages in the nav in the box*/ 
	}

	nav ul li {
	  text-indent: 15px; 
	  display: block;
	  width: 100%;
	  text-align: left;
	  background: pink; /*color of box*/ 
	}

	nav > ul > li {
	  margin-left: 17px; /*position of the box from left margin*/ 
	}
	}
	
	/*Part 1*/
	#part1{ 
	background: url("header.jpg") no-repeat 50% 50%;
	padding: 300px 0px; 
	}

	
	/*Part 2*/
	#part2{ 
		background-color: #493548;
		padding: 200px 0px; 
		
	}
	
	  h1{ 
		text-align: center; 
		color: #ff3b3f;
		}
			
		h3{ 
		text-align: center; 
		color: #a9a9a9;
		}
		 
        
    /*Part 3: Photo Gallery CSS*/
        

#part3{
    padding: 200px 0px;
    background-color: #d9d9d9;
}
   /* --table--
      
    table{
    width: 100%;
    
     }
        
        table img{
            width: 100%;
            
        } */
    
.slides{
display: none;
    border: 5px solid grey;
  
}

        
        
        
        
        
        
        
        
        